body {
    background-color: #118ab2;
}



/* TABELLA DI GIOCO */
#tabella {
    display: flex;
    flex-wrap: wrap;

    height: 50vh;
    margin: 10rem;
}

/******************
*  CELLE DI GIOCO
*******************/

/* celle default livello FACILE */
.cella {
    width: calc(100% / 10);
    height: calc(100% / 10);

    border: 3px solid #ffc107;
    /* color: #c742bc; */
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: crosshair;
}

/* cella livello MEDIO */
.cella.medio {
    width: calc(100% / 9);
    height: calc(100% / 9);
}

/* cella livello DIFFICILE */
.cella.difficile {
    width: calc(100% / 7);
    height: calc(100% / 7);
}

/* al click sulla cella */
.active {
    background-color: #06d6a0;
}

.active-red {
    background-color: #ef476f;
}