/* TABELLA DI GIOCO */
#tabella {
    display: flex;
    flex-wrap: wrap;

    height: 50vh;
    margin: 10rem;


    /* border: 1px solid black; */
}

/******************
*  CELLE DI GICO
*******************/

/* celle default livello FACILE */
.cella {
    width: calc(100% / 10);
    height: calc(100% / 10);

    border: 1px solid lightslategray;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: crosshair;
}

/* cella livello MEDIO */
.cella.medio {
    width: calc(100% / 9);
    height: calc(100% / 9);
}

/* cella livello DIFFICILE */
.cella.difficile {
    width: calc(100% / 7);
    height: calc(100% / 7);
}

/* al click sulla cella */
.active {
    background-color: lightskyblue;
}

.active.red {
    background-color: red;
}